.footer_outer_wrapper{
    background-color: #111;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer_inner_wrapper{
    width:60;
    /* background-color: red; */
}
.footer_icons{
    /* background-color: blue; */
    width:15%;
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
    color: #fff;

}
.footer_data {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    


}
.footer_data div {
  flex:1;
  padding: 0 15px; 
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 12vh;

    /*background-color: blue; */
}
.footer_data ul li{
    cursor: pointer;
}
.service_code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width:15%;
    margin:15px 5px;
    cursor: pointer;
} 

 .copy_write{
    font-size: 12px;
    margin-bottom: 10px;
}